@font-face {
    font-family: CalSans;
    src: url('/assets/fonts/CalSans-Regular.ttf');
}

body{
    background: linear-gradient(180deg, #272057 17%, #171837 100%);
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    padding: 10px;
    margin-bottom: 0px!important;
    min-height: 100vh;
    font-family: CalSans;
    letter-spacing: .5px!important;
}

html, .offcanvas {
    background-color: #272057!important;
    height: 100%;
}

.offcanvas-header{
    background-color: #dee2e608!important;
}

.offcanvas-body > .navbar-nav > li {
    padding: 10px!important;
    font-size: 1.25em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    margin-bottom: 20px;
}

.offcanvas-body > .navbar-nav > .nav-item > .dropdown-menu {
    padding: 0px!important;
}

.offcanvas-body > .navbar-nav > .nav-item > .dropdown-menu > li {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    margin: 0!important;
    font-size: 1.25em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvas-body > .navbar-nav > li:hover{
    color: white;
}

.offcanvas-body > .navbar-nav > .nav-item > .dropdown-menu > li:last-child {
    border-bottom: 0px;
}

.splash-title-primary {
    line-height:normal!important;
    background: -webkit-linear-gradient(#98C2FD,#0D70FD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.splash-title-secondary {
    line-height:normal!important;
    background: -webkit-linear-gradient(#ffffff,rgb(138, 142, 146));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-content,.dropdown-menu {
    background-color: #171837;
}
.modal-header,.modal-footer {
    border: none!important;
}

.timesnewroman {
    font-family: 'Times New Roman', Times, serif;
}

.install-help-mobile {
    display: none;
}

#footer {
    opacity: 0.25;
}

#footer:hover {
    opacity:1;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

main {
    background-color: none!important;
    max-width: 850px;
    margin: auto;
    padding: 10px;
    border-radius: var(--bs-border-radius);
    border: none!important;
}


.card,nav {
    margin-bottom: 10px;
}

nav{
    padding: 0px!important;
    margin-left: 4em!important;
    margin-right: 4em!important;
    box-shadow: inset 0px 0px 2px #0F2E27;
}

.navbar-toggler {
    padding: 5px!important;
    font-size: 15px;
}

.nav-tabs .nav-link.active,.list-group-item {
    background-color: #dee2e608!important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #dee2e608;
}

.nav-link, .navbar-brand {
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.704));
}

.nav-link,a {
    color: rgb(224, 222, 222);
}

.nav-link:hover,a:hover {
    color: rgb(255, 255, 255);
}

.dropdown-item>i,.nav-link>i {
    margin-right: 3px;
}

.selection {
    gap: 0.5rem;
}


.loginbuttonsplash {
    display: none;
}
.splash-title {
    /*background: -webkit-linear-gradient(#77a6f7,#106EFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    margin-top:50px;
    font-size:30pt;
    font-style: italic;
}

.btn-primary-new {
    border-radius: 2rem;
    background-color: rgb(248, 249, 250);
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    font-weight: 600 !important;
    color: #1e293b;
}

.btn-primary-new:hover {
    color: #1e293b;
    background-color: rgb(206, 206, 206);
}

.btn-secondary-new {
    border-radius: 2rem;
    background-color: #dee2e608!important;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    font-weight: 600 !important;
    color: white;
    border: 1px solid #6c757d;
}

.btn-secondary-new:hover,.btn-secondary-new:active {
    color: white;
    background-color: rgba(230, 230, 230, 0.2)!important;
    border: 1px solid #6c757d;
}

.btn-danger-new {
    border-radius: 2rem;
    background-color: #dc3545;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    font-weight: 600 !important;
    color: white;
}

.btn-danger-new:hover,.btn-danger-new:active {
    background-color: #b52c39;
}



.card,
.form-control,
.input-group-text,
#nav,
.tab-content,
select,
.table-striped,
td,
th{
    background: none !important;
}

.onlymobile {
    display: none!important;
}

.onlymobile-inline {
    display: none!important;
}

.input-group-text > .bi {
    padding-right: 5px;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 795px) {
    body {
        padding: 0px;
    }
    main {
        margin: 10px;
        padding: 0px;
        padding-top: 10px;
        margin-top: 0px;
        border: none!important;
        border-radius: 0px!important;
        background: none;
    }
    .modepicker {
        justify-content: center !important;
    }
    .mode {
        background-color: #212529;
    }
    /*
    #nav {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    margin: 0.5rem!important; 
    }
    */
    nav{
        margin-left: 0.5em!important;
        margin-right: 0.5em!important;
    }
    body {
        margin-bottom: 100px;
    }
    .selection {
        gap: 0!important;
    }
    .loginbuttonsplash {
        display: inline-block;
    }
    .install-help-mobile {
        display: block;
    }
    .btn-nav {
        margin-bottom: 10px;
    }
    .nomobile {
        display: none!important;
    }
    .onlymobile {
        display: block!important;
    }
    .onlymobile-inline {
        display: inline;
    }
    .splash-mobile {
        margin-top: 4em!important;
        margin-bottom: 4em!important;
    }
    .splash-title-mobile {
        font-size: 45pt!important;
        font-weight: 500!important;
    }
    .fw-semibold,.btn-primary-new,.btn-secondary-new,.btn-danger-new {
        font-weight: 500!important;
    }
    
    .row > .col-md {
        padding: 0px;
    }
    #footer {
        flex-wrap: wrap!important;
        margin: 10px!important;
        margin-top: 60px!important;
        padding-bottom: 10px!important;
    }
    #footer > li {
        border: none!important;
        text-align: center;
        padding: 5px!important;
                background: none!important;
    }
    #footer > li:first-child {
        width: 100%!important;
    }
    #footer > li:last-child {
        width: 100%!important;
    }
}
