body{
    background-color: #212529;
    background: linear-gradient(45deg, #212529 , #27334f , #212529 );
    padding: 10px;
    margin-bottom: 0px!important;
    min-height: 100vh;
}

html {
    background-color: #212529;
}

.modal-content {
    background-color: #1d2538;
}
.modal-header,.modal-footer {
    border: none!important;
}

.timesnewroman {
    font-family: 'Times New Roman', Times, serif;
}

.install-help-mobile {
    display: none;
}

main {
    background-color: none!important;
    max-width: 750px;
    margin: auto;
    padding: 10px;
    border-radius: var(--bs-border-radius);
    border: none!important;
}

.card,nav {
    margin-bottom: 10px;
}

nav{
    padding: 0px!important;
}

.navbar-toggler {
    padding: 5px!important;
    font-size: 15px;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #dee2e608;
}

.selection {
    gap: 0.5rem;
}

.loginbuttonsplash {
    display: none;
}
.splash-title {
    /*background: -webkit-linear-gradient(#77a6f7,#106EFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    margin-top:50px;
    font-size:30pt;
    font-style: italic;
}


.card,
.form-control,
.input-group-text,
#nav,
.tab-content,
select,
.dropdown-menu, 
.table-striped,
td,
th{
    background: none !important;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 450px) {
    body {
        padding: 0px;
    }
    main {
        margin: 0px;
        padding: 10px;
        border: none!important;
        border-radius: 0px!important;
        background: none;
    }
    .modepicker {
        justify-content: center !important;
    }
    .mode {
        background-color: #212529;
    }
    /*
    #nav {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    margin: 0.5rem!important; 
    }
    */
    body {
        margin-bottom: 100px;
    }
    .selection {
        gap: 0!important;
    }
    .loginbuttonsplash {
        display: inline-block;
    }
    .install-help-mobile {
        display: block;
    }
}
